.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/caches/
учёба/дисциплины 2 курс/Математика.md
учёба/дисциплины 2 курс/-Организационно-правовое обеспечение информационной безопасности.md
учёба/дисциплины 2 курс/-Технология перехвата и защиты беспилотных летательных аппаратов.md
